/* Boxes */
#boxes{
  margin-top:20px;
}

#boxes .box{
  float:left;
  text-align: center;
  width:30%;
  padding:20px;
}

#boxes .box img{
  width:250px;
}
@media(max-width: 768px){
	#boxes .box{
		float: none;
		text-align: center;
		width: 100%;
		
	}
}